*{
    margin: 0px;
    padding: 0px;
}

h2{
    background-color: orange;
    position: relative;
    left: 100px;
    /*top: 50px;
    bottom: 500px; */
}

h3{
    background-color: pink;
    position: fixed; 
    /* top: 0px;
    left: 250px; */
}

h4{
    background-color: brown;
    position: sticky;
    top: 0px;
}

p{
    background-color: yellow;
    position: absolute;
    left: 50px;
    top: 70px;
    margin: 0px;
    z-index: 10;
}