*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.container{
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    
}
.white{
    background-color: white;
}
.brown{
    background-color: brown;
}